*{
    color: blue;
}
p, span{
    color: red;
    width: 300px;
}
body { background-color: black;}
/* 
Esto es un comentario dentro de un documento CSS
*/
h1{
    font-family: 'Roboto', sans-serif;
    border: 1px solid black;
    /*
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 40px;
    */
    padding: 10px 20px 30px 40px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    color: gray;

}

section
 {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }

  #mi_parrafo
  {
    color: yellow;
    font-size: 23px;
    border: 1px solid orange;
  }

  .estaesmiclase
  {
    font-weight: bold;
    color: lightblue;

  }
  
  section h1 {
    color: brown;
    font-size: 50px ;
  }